<table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td style="background-color:grey">
			<img src="https://drive.google.com/uc?id=1EaSCQz9AolC81fTux4bIUxTwZ6632l2w">
			<h1 style="text-align:center;margin:0">Consulta desde mi web</h1>
		</td>
	</tr>
	<tr>
		<td>
			<!-- Subtabla -->
			<table border="0" align="center" width="100%">
				<tr>
					<td style="border-bottom:dotted 1px">Fecha: {{fecha}}</td>
				</tr>

				<tr>
					<td style="border-bottom:dotted 1px">Nombre: {{nombre}}</td>
				</tr>

				<tr>
					<td style="border-bottom:dotted 1px">Correo: {{correo}}</td>
				</tr>
				
				<tr>
					<td style="border-bottom:dotted 1px">Mensaje: <blockquote>{{mensaje}}</blockquote></td>
				</tr>

			</table>
			<!-- /Subtabla -->
		</td>
	</tr>
	<tr>
		<td>
			<small style="text-align:center;display:block">miweb.com | 1994 - 2020</small>
		</td>
	</tr>
</table>